/* Google font: Work Sans */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;900&display=swap");

/* Reset CSS start  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Reset CSS end  */
/* Font declarations  */
body {
  font-family: "Work Sans", sans-serif;
}

/* Global CSS start  */
header,
footer,
section {
  display: block;
  float: left;
  width: 100%;
}
.container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.text-center {
  text-align: center;
}
.btn {
  border: 1px solid #ff900e;
  padding: 20px 25px;
  border-radius: 8px;
  display: inline-block;
  font-size: 20px;
}
.btn-fill {
  background-color: #ff900e;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: none;
  transition: all ease-in-out 300ms;
}
.btn-fill:hover {
  background-color: #ffae51;
}
img {
  width: 100%;
}
/* Global CSS end  */

/* Home Page CSS start  */
/* Header css start  */
.header-section {
  background: rgba(255, 144, 14, 0.1);
}
.header-section .top-logo-menu {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.header-section .top-logo-menu .menu .desk-nav .primary-nav {
  display: flex;
  gap: 75px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.primary-nav li a {
  color: #424242;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
}
.header-text-content {
  margin-top: 116px;
  width: 862px;
  margin-left: auto;
  margin-right: auto;
}
.header-text-content .header-title {
  color: #131313;
  text-align: center;
  font-family: Work Sans;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: calc(100% - 100px);
  margin-bottom: 30px;
}
.header-text-content .header-des {
  color: #727272;
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
}
.header-image {
  margin-top: 50px;
  border-radius: 8px;
  margin-bottom: 45px;
}
.header-image img {
  width: 100%;
}

/* Header css end  */
/* Feature section CSS start  */
.feature-section {
  margin-top: 80px;
}
.feature-section .feature-content {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 112px);
  /* gap: 73px; */
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.img-content,
.text-content {
  width: calc(50% - 36.5px);
}
.img-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}
.img-item {
  width: calc(50% - 12px);
  border-radius: 8px;
  overflow: hidden;
}
.feature-section .feature-content .quick {
  font-size: 45px;
  font-weight: 500;
  color: #727272;
}
.feature-section .feature-content .quick span {
  color: #131313;
  font-weight: 700;
}
.feature-section .feature-content .fe-text {
  color: #ff900e;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 24px;
}
.feature-section .feature-content .fe-desk {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
}
/* Feature section CSS end  */
/* Home Page CSS end  */

/* Responsive media query start  */
/* Mobile or small device less then 600px start */
@media (max-width: 600px) {
  .container {
    width: calc(100% - 24px);
    margin-left: auto;
    margin-right: auto;
  }
  .btn-fill {
    background-color: #ff900e;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border: none;
    transition: all ease-in-out 300ms;
    padding: 15px 20px;
  }
  /* Mobile Devices/extra small device Header css start  */
  .header-text-content {
    margin-top: 30px;
  }
  .header-section .top-logo-menu .logo {
    width: calc(100% - 60px);
  }
  .header-section .top-logo-menu .logo img {
    width: 100%;
  }
  .desk-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
  .mobile-nav .mbl-bar {
    font-size: 32px;
  }
  .mobile-nav .mbl-bar :hover {
    color: #ff900e;
    transition: all ease-in-out 300ms;
  }
  .header-text-content {
    width: 100%;
  }
  .header-text-content .header-title {
    width: 100%;
    font-size: 30px;
  }
  /* Mobile Devices/extra small device Header css end  */
  /* Feature section mobile device css support start  */
  .feature-section .feature-content,
  .img-content {
    width: 100%;
    flex-direction: column;
    order: 1;
    text-align: center;
  }
  .feature-section .feature-content .btn {
    margin-bottom: 50px;
  }
  .img-item,
  .text-content {
    width: 100%;
  }
  /* Feature section mobile device css support end  */
}

/* Mobile or small device less then 600px end  */
/* Medium device/table device support css start  */
@media (min-width: 768px) {
  .container {
    max-width: 991px;
    width: calc(100% - 24px);
  }
  .header-text-content,
  .header-text-content .header-title {
    width: 100%;
  }
  .desk-nav {
    display: none;
  }
  .mobile-nav .mbl-bar {
    font-size: 32px;
  }
  .header-text-content,
  .header-text-content .header-title {
    margin-top: 50px;
  }
  /* Feature section Tab/Medium device support start  */
  .feature-section .feature-content {
    width: 100%;
  }
  .img-content,
  .text-content {
    width: calc(50% - 16px);
  }
  /* Feature section Tab/Medium device support end  */
}

/* Medium device/table device support css end  */

/* Medium large display CSS start  */
@media (min-width: 992px) {
  .container {
    max-width: 1023px;
    width: calc(100% - 50px);
  }

  .mobile-nav {
    display: none;
  }
  .desk-nav {
    display: block;
  }
  /* Feature section medium large device supported css start  */
  .img-content,
  .text-content {
    width: calc(50% - 30px);
  }
  /* Feature section medium large device supported css end  */
}
/* Medium large display CSS end  */
/* Large device/laptop css support start  */
@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    width: calc(100% - 50px);
  }
  .header-text-content {
    width: 862px;
  }
  /* Feature section large device css support start  */
  .img-content,
  .text-content {
    width: calc(50% - 36.5px);
  }
  /* Feature section large device css support end  */
}
/* Large device/laptop css support end  */
/* Large device/laptop css support start  */
@media (min-width: 1400px) {
  .container {
    max-width: 1440px;
    width: calc(100% - 50px);
  }
}
/* Large device/laptop css support end  */
/* Responsive media query end  */
